<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :artist %>
      <%= f.text_field :artist %>
    </div>
    <div class="field">
      <%= f.label :debut_date %>
      <%= f.date_select :debut_date, {:order => [:month, :year], :start_year => Date.today.year, :end_year => 1988} %>
    </div>
    <div class="field radio">
      <%= f.label :is_active, "Active Repertoire", value: true %>
      <%= f.radio_button :is_active, true, :checked => true %>
      <%= f.label :is_active, "Retired", value: false %>
      <%= f.radio_button :is_active, false %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
