<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="options">
    <%= f.label :is_active, "Active Soloist", value: true %>
    <%= f.radio_button :is_active, true, :checked => true %>
    <%= f.label :is_active, "Past Soloist", value: false %>
    <%= f.radio_button :is_active, false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
