<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<h1>Active Repertoire</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Debut Date</th>
      <th>Active Rep?</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <% if song.is_active %>
        <tr>
          <td><%= link_to song.title, song %></td>
          <td><%= song.artist %></td>
          <td><%= song.debut_date.strftime("%b %Y") %></td>
          <td><%= song.is_active %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h1>Repertoire History</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Debut Date</th>
      <th>Active Rep?</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <% if !song.is_active %>
        <tr>
          <td><%= link_to song.title, song %></td>
          <td><%= song.artist %></td>
          <td><%= song.debut_date.strftime("%b %Y") %></td>
          <td><%= song.is_active %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% content_for :aside do %>
  <% if current_user %>
    <%= link_to 'New Song', new_song_path %>
  <% end %>
<% end %>
