<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

<h1><%= @song.title %></h1>
<h3><%= @song.artist %></h3>
<h3><%= @song.debut_date.strftime("%b %Y") %></h3>
<h4>
  <% if @song.is_active %>
    Active
  <% else %>
    Retired
  <% end %>
</h4>

<h1>Soloists</h1>

<% @song.solos.each do |solo| %>
  <% if solo.is_active %>
    <div class="active">
  <% else %>
    <div class="inactive">
  <% end %>
      <a><%= image_tag Phantom.where(user_id: solo.user.id)[0].image_url, width: '200px' %></a>
    </div>
<% end %>

<h1>Arranged By</h1>

<% @song.arrangements.each do |arrangement| %>
    <div>
      <a><%= image_tag Phantom.where(user_id: arrangement.user.id)[0].image_url, width: '200px' %></a>
    </div>
<% end %>

<% if current_user %>
  <hr />
  <% if !@user_has_solo %>
    <p>Did you solo <%= @song.title %>? <%= link_to 'Add to my solos', add_solo_song_path(@song), method: :post %></p>
  <% elsif @user_has_solo%>
    <p><%= link_to "Edit solo", edit_solo_song_path(@song) %> | <%= link_to "Remove solo", remove_solo_song_path(@song), method: :delete %></p>
  <% end %>

  <% if !@user_has_arrangement %>
    <p>Did you arrange <%= @song.title %>? <%= link_to 'Add to my arrangements', add_arrangement_song_path(@song), method: :post %></p>
  <% end %>
<% end %>
