<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<div class="songs-show container">
  <div class="info">
    <h1><%= @song.title %></h1>
    <h3><%= @song.artist %></h3>
    <h3><%= @song.debut_date.strftime("%b %Y") %></h3>
    <h4>
      <% if @song.is_active %>
        Active
      <% else %>
        Retired
      <% end %>
    </h4>
  </div>

  <div class="sub">
    <div class="solos">
      <h1>Soloists</h1>
      <div class="columns">
        <% @song.solos.each do |solo| %>
          <% if solo.is_active %>
            <div class="active">
          <% else %>
            <div class="inactive">
          <% end %>
              <a><%= image_tag Phantom.where(user_id: solo.user.id)[0].image_url, width: '200px' %></a>
            </div>
        <% end %>
      </div>
    </div>

    <div class="arrangements">
      <h1>Arranged By</h1>
      <div class="columns">
        <% @song.arrangements.each do |arrangement| %>
            <div>
              <a><%= image_tag Phantom.where(user_id: arrangement.user.id)[0].image_url, width: '200px' %></a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :nav do %>
  <%= link_to 'Back', songs_path %>
<% end %>

<% content_for :aside do %>
  <% if current_user %>
    <%= link_to 'Edit Song Info', edit_song_path(@song) %>
    <%= link_to 'Delete Song', edit_song_path(@song) %>
    <% if !@user_has_solo %>
      <span><em>Did you solo <%= @song.title %>?</em></span>
      <%= link_to 'Add Solo', add_solo_song_path(@song), method: :post %>
    <% elsif @user_has_solo%>
      <%= link_to "Edit Solo", edit_solo_song_path(@song) %>
      <%= link_to "Remove Solo", remove_solo_song_path(@song), method: :delete %>
    <% end %>

    <% if !@user_has_arrangement %>
      <span><em>Did you arrange <%= @song.title %>?</em></span>
      <%= link_to 'Add Arrangement', add_arrangement_song_path(@song), method: :post %>
    <% elsif @user_has_solo%>
      <%= link_to "Remove Arrangement", remove_arrangement_song_path(@song), method: :delete %>
    <% end %>
  <% end %>
<% end %>
