<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<div class="songs-show container">
  <div class="info">
    <div class="col-1">
      <h1><%= @song.title %></h1>
    </div>
    <div class="col-1">
      <div class="row">
        <h3>Artist: </h3>
        <h3><%= @song.artist %></h3>
      </div>
      <div class="row">
        <h3>Debut Date: </h3>
        <h3><%= @song.debut_date.strftime("%b %Y") %></h3>
      </div>
      <div class="row">
        <h3>Status:</h3>
          <% if @song.is_active %>
            <h3 class="status active">Active Repertoire</h3>
          <% else %>
            <h3 class="status retired">Retired</h3>
          <% end %>
      </div>
    </div>
  </div>

  <div class="sub">
    <div class="solos">
      <% if @song.solos.where(is_active: true).length > 1 %>
        <h1>Current Soloists</h1>
      <% elsif @song.solos.where(is_active: true).length == 1 %>
        <h1>Current Soloist</h1>
      <% end %>
      <div class="column">
        <% @song.solos.each do |solo| %>
          <% if solo.is_active %>
            <span class="active">
              <a><%= image_tag Phantom.where(user: solo.user)[0].image_url, width: '200px' %></a>
              <h3><%= link_to Phantom.where(user: solo.user)[0].first_name, phantom_path(Phantom.where(user: solo.user)[0]) %></h3>
            </span>
          <% end %>
        <% end %>
      </div>
      <% if @song.solos.where(is_active: false).length > 1 %>
        <h1>Past Soloists</h1>
      <% elsif @song.solos.where(is_active: false).length == 1 %>
        <h1>Past Soloist</h1>
      <% end %>
      <div class="column">
        <% @song.solos.each do |solo| %>
          <% if !solo.is_active %>
            <span class="inactive">
              <a><%= image_tag Phantom.where(user: solo.user)[0].image_url, width: '200px' %></a>
              <h3><%= link_to Phantom.where(user: solo.user)[0].first_name, phantom_path(Phantom.where(user: solo.user)[0]) %></h3>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="arrangements">
      <% if @song.arrangements.all.length > 0 %>
        <h1>Arranged By</h1>
      <% end %>
      <div class="column">
        <% @song.arrangements.each do |arrangement| %>
            <span>
              <a><%= image_tag Phantom.where(user_id: arrangement.user.id)[0].image_url, width: '200px' %></a>
              <h3><%= link_to Phantom.where(user: arrangement.user)[0].first_name, phantom_path(Phantom.where(user: arrangement.user)[0]) %></h3>
            </span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :nav do %>
  <%= link_to 'Back', songs_path %>
<% end %>

<% content_for :aside do %>
  <% if current_user %>
    <%= link_to 'Edit Song Info', edit_song_path(@song) %>
    <%= link_to 'Delete Song', song_path(@song), method: :delete, :data => {:confirm => "Are you sure?"} %>
    <% if !@user_has_solo %>
      <span><em>Did you solo <%= @song.title %>?</em></span>
      <%= link_to 'Add Solo', add_solo_song_path(@song), method: :post %>
    <% elsif @user_has_solo%>
      <%= link_to "Edit Solo", edit_solo_song_path(@song) %>
      <%= link_to "Remove Solo", remove_solo_song_path(@song), method: :delete %>
    <% end %>

    <% if !@user_has_arrangement %>
      <span><em>Did you arrange <%= @song.title %>?</em></span>
      <%= link_to 'Add Arrangement', add_arrangement_song_path(@song), method: :post %>
    <% elsif @user_has_arrangement%>
      <%= link_to "Remove Arrangement", remove_arrangement_song_path(@song), method: :delete %>
    <% end %>
  <% end %>
<% end %>
