<p id="notice"><%= notice %></p>

<h1><%= @song.title %></h1>
<h2><%= @song.artist %></h2>
<h3><%= @song.debut_date.strftime("%b %Y") %></h3>
<h4>
  <% if @song.is_active %>
    Active
  <% else %>
    Retired
  <% end %>
</h4>

<h1>Soloists</h1>
<% @song.solos.each do |solo| %>
  <div><%= solo.user.email %>
    <% if solo.user == current_user %>
      <%= link_to "Remove solo", remove_solo_song_path(@song) %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Add Solo', add_solo_song_path(@song) %> |
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
