<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<div class="phantoms-show container">
  <div class="profile">
    <h1><%= @phantom.first_name %> <%= @phantom.last_name %></h1>
    <h2><%= @phantom.voice_part %></h2>
    <%= image_tag @phantom.image_url, width: '300px' %>
    <h3>Phantoms Class of <%= @phantom.end_date.year %></h3>

    <% if !@phantom.is_active %>
      <h3>Alum</h3>
    <% end %>
  </div>

  <div class="profile-tables">
    <% if @solos.length > 0 %>
      <div class="solos">
        <h1><%= @phantom.first_name.possessive %> Solos</h1>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Artist</th>
            </tr>
          </thead>

          <tbody>
            <% @solos.each do |solo| %>
              <% song = Song.find(solo.song_id) %>
              <tr>
                <td><%= link_to song.title, song %></td>
                <td><%= song.artist %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @arrangements.length > 0 %>
      <div class="arrangements">
        <h1><%= @phantom.first_name.possessive %> Song Arrangements</h1>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Artist</th>
            </tr>
          </thead>

          <tbody>
            <% @arrangements.each do |arrangement| %>
              <% song = Song.find(arrangement.song_id) %>
              <tr>
                <td><%= link_to song.title, song %></td>
                <td><%= song.artist %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>

<% content_for :aside do %>
  <% if current_user %>
    <%= link_to 'Edit Profile', edit_phantom_path(@phantom) %>
  <% end %>
<% end %>

<% content_for :nav do %>
  <%= link_to 'Back', phantoms_path %>
<% end %>
