<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<div class="blog-container">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="image">
        <%= image_tag post.image_url, width: '400px' %>
      </div>
      <div class="content">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <span><%= link_to '<i class="fa fa-chevron-right"></i> Read More'.html_safe, post %></span>
      </div>
    </div>
  <% end %>
</div>

<% content_for :aside do %>
  <% if current_user %>
    <%= link_to 'New Post', new_post_path %>
  <% end %>
<% end %>
