<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<div class="post-show container">
    <div class="post">
      <div class="image">
        <%= image_tag @post.image_url, width: '600px' %>
      </div>
      <div class="content">
        <h2><%= @post.title %></h2>
        <p><%= @post.content %></p>
      </div>
    </div>
</div>

<% content_for :nav do %>
  <%= link_to 'Back', posts_path %>
<% end %>

<% content_for :aside do %>
  <% if current_user %>
    <%= link_to 'Edit Post', edit_post_path(@post) %>
    <%= link_to 'Delete Post', post_path(@post), method: :delete %>
  <% end %>
<% end %>
