<!DOCTYPE html>
<html>
  <head>
    <title>Phantoms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hg">

    <div class="super-nav">
      <span></span>
      <span id="notice"><%= notice %></span>
      <span>
        <% if current_user %>
          <% if Phantom.where(user_id: current_user.id)[0] == nil %>
            <%= link_to "Create Profile", new_phantom_path %>
          <% else %>
            <span>Hi, <%= Phantom.where(user_id: current_user.id)[0].first_name %></span>
            <%= link_to "Profile Settings", edit_phantom_path(Phantom.where(user_id: current_user.id)[0]) %>
          <% end %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Phantoms Log In", new_user_session_path %>
        <% end %>
      </span>
    </div>

    <header>
      <div class="logo">
        <%= image_tag 'P-Logo-Solid-White.png', height: '80px' %>
        <%= link_to "Phantoms", "/" %>
      </div>
      <div class="header-right">
        <%= link_to "Home", "/" %>
        <%= link_to "Repertoire", songs_path %>
        <%= link_to "Members", phantoms_path %>
        <%= link_to "About Us", "#" %>
      </div>
    </header>

    <%= yield :backdrop %>

    <div class="hg-body">
      <main class="hg-content">
        <%= yield %>
      </main>

      <nav class="hg-nav">
        <%= yield :nav %>
      </nav>

      <aside class="hg-ads">
        <%= yield :aside %>
      </aside>
    </div>

    <footer>
      <main class="hg-content">
        <h3>The Georgetown Phantoms</h3>
        <%= link_to "News", "#" %>
        <%= link_to "Repertoire", songs_path %>
        <%= link_to "Members", "#" %>
        <%= link_to "About Us", "#" %>
        <%= link_to "Contact", "#" %>
        <%= link_to "Auditions", "#" %>
      </main>

      <nav class="hg-nav"></nav>

      <aside class="hg-ads">
        <% if !current_user %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </aside>
    </footer>
  </body>
</html>
